.navbar {
  background: rgb(0, 0, 0);
  color: white;
  width: 100%;
  font-size: 22px;
  height: 100%;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.title {
  font-size: 30px;
}


